@page
@model RazorPagesMovie.Application.Pages.CartD.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartDetail[0].Cart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartDetail[0].Fish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fish.FishId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CartDetailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CartDetailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CartDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
